In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Reading Dataset

df = pd.read_csv('data/mar282020.csv')

In [9]:
# Data Cleanup

df.drop('FIPS', axis=1, inplace=True)

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,Abbeville,South Carolina,US,2020-03-28 23:05:37,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,Acadia,Louisiana,US,2020-03-28 23:05:37,30.295065,-92.414197,9,1,0,0,"Acadia, Louisiana, US"
2,Accomack,Virginia,US,2020-03-28 23:05:37,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,Ada,Idaho,US,2020-03-28 23:05:37,43.452658,-116.241552,76,0,0,0,"Ada, Idaho, US"
4,Adair,Iowa,US,2020-03-28 23:05:37,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...
3425,NaN,NaN,Venezuela,2020-03-28 23:05:25,6.423800,-66.589700,119,2,39,78,Venezuela
3426,NaN,NaN,Vietnam,2020-03-28 23:05:25,14.058324,108.277199,174,0,21,153,Vietnam
3427,NaN,NaN,West Bank and Gaza,2020-03-28 23:05:25,31.952200,35.233200,98,1,18,79,West Bank and Gaza
3428,NaN,NaN,Zambia,2020-03-28 23:05:25,-13.133897,27.849332,28,0,0,28,Zambia
3429,NaN,NaN,Zimbabwe,2020-03-28 23:05:25,-19.015438,29.154857,7,1,0,6,Zimbabwe

In [14]:
countries = df['Country_Region'].unique()

In [20]:
print(f'Total Countries: {countries.size}')

Total Countries: 177